/**
 * Hacker theme variables
 */

:root {
  --base-color: #c70404;
  --border: dashed 5px rgba(255, 0, 0, 255);
  --selection-background: rgba(255, 0, 0, 255);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #aaaaaa;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #b38aff;
  --code-color-6: #c70404;
  --code-color-7: #bb6fd9;
  --code-color-8: #d404a0;
  --code-color-9: #c70404;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #00c1c1;
  --code-color-15: #1380ed;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
